<main class="font-monospace bg-dark text-light container">
  <h1 class="font-monospace text-center mb-5 mt-2">An Infinite Supply of Programming Quotes</h1>

  <app-infinite-scoller (scrolled)='onScroll()'>

    <div class="d-flex flex-column align-items-center">
      <blockquote *ngFor='let quote of quotes; let i = index' class="font-monospace w-75">
        <span>{{i + 1}}) </span><span class="text-justify">{{quote.quote}}</span>
        <div class="text-end">
          - {{quote.author}}
        </div>
      </blockquote>
    </div>




  </app-infinite-scoller>
</main>
<app-footer class="text-light text-center mt-auto"></app-footer>